@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000B14;
}

#navbar {
    width: 100%;
    position: fixed;
    background-color: #F4D58D;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: "Merriweather Sans";
    color: #000B14;
}

#navbar li a:hover {
    background-color: #000B14;
    color: #F4D58D;
    transition-duration: 0.5s;
}